
*{
	margin : 0px; padding: 0px;
}


img {}

html { background-color : #fff; }

#student_name {
	border: 2px solid red;
}

#main_banner {
	width : 300px;
}

img.very_important{
	background-color : #ff0000;
	font-weight:bold;
	border: 1px dashed blue;
}
.shadow{
	border-right: 2px solid #333333;
	border-bottom: 2px solid #333333;
}